.container {
    border: 1px solid blue;
    /* width: fit-content; */
    /* height: 100%; */
    width: fit-content;
    padding: 5px;
}

.categoryLinks {
    background-color: #e2e2e2;
    margin: 5px 10px;
    font-size: 18px;
    padding: 10px 60px;
    cursor: pointer;
    width: 100px;
}

.categoryLinks:hover {
    background-color: turquoise;
}