.container {
    min-height: 100vh;
    min-width: 100vw;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard {
    border: 1px solid red;
}